.services__list-item {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #5101d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .services__list-item h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #5101d1;
  }
  
  .services__list-item h2 {
      margin: 0;
      font-size: 1rem;
      color: #7c7c7c;
  }
  
  .services__list-item p {
      margin: 0;
  }